.store_header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  padding-left: 15px;
  background-color: #fff;
}

li{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.store_header_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18%;
  gap: 15px;
}

.store_header_logo {
  width: 100px;
  height: 80px;
}

.store_header_logo img {
  width: 100%;
  height: 100%;
}

.store_header_chevron_arrow i {
  color: rgb(0, 157, 224);
}

.store_header_city {
  color: rgb(0, 157, 224);
}

.store_header_location i {
  color: rgb(0, 157, 224);
}

.store_header_location {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 157, 224, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.store_header_center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.store_header_center_container {
  position: relative;
  display: flex;
  align-items: center;
}

.store_header_search {
  position: absolute;
  left: 10px;
}

.store_header_search_input {
  width: 250px;
  box-sizing: border-box;
}

.store_header_search_input input {
  background-color: rgb(228 228 228);
  padding: 15px 35px;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
}

.store_header_search_input input:focus {
  outline: 4px solid #0078d4;
}

.store_header_search_input input::placeholder {
  color: rgb(151 151 153);
}

.store_header_right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
  width: 20%;
}

.store_header_register {
  color: #0078d4;
  border-radius: 8px;
  background-color: rgba(0, 157, 224, 0.1);
  padding: 4% 6%;
  font-size: 16px;
}

.store_header_login {
  font-size: 16px;
}

.store_header_register:hover {
  cursor: pointer;
  background-color: rgba(0, 157, 224, 0.3);
  transition: 0.4s;
}

.store_header_left:hover {
  cursor: pointer;
}

.store_header_login:hover {
  cursor: pointer;
}

.store_header_register:hover,
.store_header_login:hover {
  font-size: 16px;
}

.store_navigator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.store_navigator_item {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 3%;
  transition: 0.4s;
}

.store_navigator_item img {
  height: 100%;
  width: 100%;
  filter: invert(48%) sepia(10%) saturate(90%) hue-rotate(187deg)
    brightness(88%) contrast(85%);
}

.store_navigator_div {
  display: flex;
  justify-content: space-between;
  width: 440px;
  align-items: center;
}

.store_navigator_item > p {
  margin-left: 10px;
}

.store_navigator_item:first-child {
  border-radius: 5rem;
  background-color: #009de0;
  color: #fff;
}

.store_navigator_item > div {
  width: 23px;
}

.store_navigator_item:first-child img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(348deg)
    brightness(102%) contrast(101%);
}

.store_navigator_item:hover {
  cursor: pointer;
}

.store_navigator_item:nth-child(2):hover,
.store_navigator_item:last-child:hover {
  border-radius: 5rem;
  background-color: rgba(32, 33, 37, 0.08);
}

.store_slider {
  display: flex;
  box-sizing: border-box;
  margin-top: 40px;
  position: relative;
  justify-content: space-around;
}

.store_slider_item {
  width: calc(50% - 30px);
  position: relative;
}

.store_slider_img {
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.store_slider_img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  filter: brightness(90%);
}

.store_slider_button1 {
  position: absolute;
  border: none;
  top: calc(50% - 30px);
  left: -4px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 2;
}

.store_slider_button2 {
  position: absolute;
  border: none;
  top: calc(50% - 30px);
  right: -4px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 2;
}

.store_slider_button1 i,
.store_slider_button2 i {
  color: #009de0;
}

.store_slider_caption {
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 30px;
  color: #fff;
  font-size: 32px;
  line-height: 40px;
  font-weight: 900;
}

.store_slider_img:hover img {
  transition: 0.4s;
  transform: scale(1.1);
}

.store_slider_caption span {
  font-family: WoltHeading-Omnes, -apple-system, BlinkMacSystemFont, Roboto,
    "Segoe UI", Arimo, "Open Sans", "Helvetica Neue", sans-serif;
}

.store_slider_caption p {
  font-size: 26px;
}

.store_woltslider {
  margin-top: 40px;
  padding-left: 20px;
  box-sizing: border-box;
}

.store_woltslider h2 {
  line-height: 36px;
  font-size: 28px;
  font-family: WoltHeading-Omnes, -apple-system, BlinkMacSystemFont, Roboto,
    "Segoe UI", Arimo, "Open Sans", "Helvetica Neue", sans-serif;
}

.store_woltslider_imager img {
  width: 100%;
  height: 100%;
  filter: brightness(80%);
}

.store_woltslider_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.store_woltslider_item {
  position: relative;
}

.store_woltslider_caption {
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 30px;
  color: #fff;
  font-size: 32px;
  line-height: 40px;
  font-weight: 900;
}

.store_woltslider_caption span {
  font-family: WoltHeading-Omnes, -apple-system, BlinkMacSystemFont, Roboto,
    "Segoe UI", Arimo, "Open Sans", "Helvetica Neue", sans-serif;
}

.store_woltslider_caption p {
  font-size: 26px;
}

.store_woltslider_caption {
  position: absolute;
  bottom: 0;
  left: 20px;
}

.store_woltslider_imager {
  overflow: hidden;
}

.store_woltslider_item:hover img {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.4s;
}

.store_woltslider_absolute {
  position: absolute;
  top: 0;
  right: 20px;
  background-color: #009de0;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo,
    "Open Sans", "Helvetica Neue", sans-serif;
}

.store_wolt_plus_imager1 {
  width: 100px;
}

.store_wolt_plus_imager2 {
  width: 400px;
}

.store_wolt_plus_imager1 img {
  width: 100%;
  height: 100%;
  filter: brightness(0) invert(100%);
}

.store_wolt_plus_imager2 img {
  width: 100%;
}

.store_wolt_plus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.store_wolt_plus_left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.store_wolt_plus_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.store_wolt_plus_background {
  position: absolute;
  background-color: #009de0;
  width: calc(100% - 20px);
  height: 150px;
  left: 20px;
  z-index: -2;
  box-sizing: border-box;
}

.store_wolt_plus_right div:first-child {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans",
    sans-serif;
  font-size: 26px;
  color: #fff;
  font-weight: 900;
}

.store_wolt_plus_right div:nth-child(2) {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans",
    sans-serif;
  font-size: 16px;
  color: #009de0;
  border-radius: 8px;
  background-color: #ebf7fd;
  padding: 15px 2%;
  margin-left: 10px;
  font-weight: 700;
}

.store_wolt_plus_right div:nth-child(2):hover {
  background-color: #ebf7fd;
  opacity: 0.7;
  transition: 0.4s;
}

.store_wolt_plus {
  padding-left: 20px;
}

.store_wolt_plus:hover {
  cursor: pointer;
}

.store_shops {
  padding-left: 20px;
}

.store_shops h2 {
  font-size: 28px;
  line-height: 36px;
}

.store_shops_slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.store_shops_item {
  width: 16%;
  height: 300px;
}

.store_shops_item:hover {
  transform: scale(1.05);
  transition: 0.6s;
  cursor: pointer;
}

.store_shops_item > div {
  width: 100%;
  height: 80%;
}

.store_shops_imager img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.store_shops_item {
  text-align: center;
}

.store_shops_span {
  box-sizing: border-box;
  width: 100%;
  max-height: 15%;
  border: 1px solid rgb(222 222 222);
  padding: 10px 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
-moz-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.3) inset;
}

.store_shops_imager {
  border-radius: 8px;
}

.index__footer {
  padding: 80px 60px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  grid-gap: 40px;
}
.index__footer__download {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.index__footer__download > img, .index__footer__download > a > img {
  width: 60%;
  margin-top: -20px;
}
.index__footer__download > img {
  height: 60%;
}
.index__footer__company {
  display: flex;
  flex-direction: column;
}
.index__footer__company > h3 {
  color: #999;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}
.index__footer__list > li {
  color: white;
  margin-top: 14px;
}
.index__footer__list > li:hover {
  text-decoration: underline;
}

.restaurant_info {
  margin-top: 60px;
  background-image: url("../images/restaurant_bahandi.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2%;
  padding-top: 12%;
}

.restaurant_info h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 46px;
  line-height: 56px  ;
}

.restaurant_info p{
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-weight: 900;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", "Helvetica Neue", sans-serif;
}

.restaurant_info_div {
  display: flex;
  width: 50%;
  gap: 10px;
}

.restaurant_info_div div {
  border-radius: 8px;
  background-color: #fff;
  padding: 8px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", "Helvetica Neue", sans-serif ;
  font-weight: 600;
}

.restaurant_under_info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(228 228 228); 
}

.restaurant_under_div {
  display: flex;
  gap: 40px;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;

}

.ii{
  color: #009de0;
}

.restaurant_menu_board {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.restaurant_categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}


.restaurant_cards {
  padding: 20px;
  box-sizing: border-box;
}

.restaurant_cards2 {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid rgb(228 228 228);
  border-radius: 8px;
  gap: 20px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  width: 32%;
}

.restaurant_cards2:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: .4s;;
}

.rs_card_content {
  display: flex;

}

.restaurant_categories div:hover{
  color:rgb(0, 157, 224);
  transition: .7s;
  cursor: pointer;
}

.restaurant_cards h2 {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", "Helvetica Neue", sans-serif;
}

.rs_imager img{
  width: 100%;
  height: 100%;
}

.cont {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 20px;
}


.rs_imager {
  width: 200px;
  height: 150px;
}

.price {
  color:rgb(0, 157, 224)
}

.ss {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 32px;
  text-align: center;
  margin-top: 100px;
}

.buttoner {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buy {
  background-color: rgb(41, 214, 41);
  border-radius: 8px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", "Helvetica Neue", sans-serif;
  border: none;
  color: #fff;
  font-weight: 600;
  width: 100px;
  box-sizing: border-box;
}

.cancel {
  background-color: rgb(206, 21, 21);
  border-radius: 8px;
  padding: 10px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-weight: 600;
  width: 100px;
  box-sizing: border-box;
}

.buy:hover, .cancel:hover {
  opacity: .7;
  transition: .4s;
}